---
import DeskGuyWithTestimonialOnTheRight from "@/components/DeskGuyWithTestimonialOnTheRight.astro";
import MainLayout from "@/components/MainLayout.astro";
import RandomSellingPoints from "@/components/RandomSellingPoints.astro";
import SubscriptionForm from "@/components/SubscriptionForm.astro";
import TransitionWrapper from "@/components/TransitionWrapper.astro";
import PostService from "@/services/PostService";
import TwoColFeaturedPostsGrid from "@/components/TwoColFeaturedPostsGrid.astro";
const posts = await new PostService().getLatestPosts();
---

<MainLayout title="Landing Page Two">
  <Fragment slot="header">
    <div class="grid gap-6 py-6">
      <div class="grid place-items-center gap-8">
        <h1>Landing Page 2</h1>
        <p class="text-xl">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et
          lacus varius, dapibus leo eget, semper metus. Suspendisse egestas est
          mi.
        </p>
      </div>
      <div class="bg-violet-600 lg:rounded-lg lg:w-3/5 lg:mx-auto">
        <SubscriptionForm
          title="Sign up for the list"
          content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et lacus varius, dapibus leo eget."
          buttonText="Sign Up"
        />
      </div>
    </div>
  </Fragment>

  <Fragment slot="main">
    <section class="px-4 py-16" aria-labelledby="selling-points">
      <TransitionWrapper>
        <RandomSellingPoints />
      </TransitionWrapper>
    </section>
    <section class="px-4 py-8">
      <DeskGuyWithTestimonialOnTheRight />
    </section>
    <section aria-labelledby="from-the-blog">
      <div class="grid gap-12">
        <div class="grid gap-8">
          <h2 id="from-the-blog">From the blog</h2><p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
            et lacus varius, dapibus leo eget, semper metus. Suspendisse egestas
            est mi.
          </p>
        </div>
      </div>
    </section>
    <section class="px-6 py-20" aria-labelledby="featured-posts">
      <TwoColFeaturedPostsGrid posts={posts} />
    </section>
  </Fragment>
</MainLayout>
